body {
  background-color: rgb(255, 255, 255);
}


#navbar {
  background-color: rgb(20, 20, 20);
  overflow: hidden;
}

#navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover{
  background-color: rgb(150, 25, 25);
}